nav {
  background-color: #10455b;
  flex: 1;
  width: 220px; /* Ocupa el 25% del ancho total */
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: white;
  margin-top: 10px;
}

.container-logo img {
  width: 145px;
  height: 125px;
  padding: 5px;
}

.container-items {
  width: 100%;
  height: auto;

}

.space {
  height: 100px;
}

.item {
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid white 2px;
  color: white;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 1.3rem;
  }

}


.item i {
  margin-top: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item:hover {
  transform: scale(1.1);
  opacity: 0.8;
  background-color: #3CC970;
}




