<nav>
  <div class="container-logo">
    <img src="../../../assets/logo.png" alt="logotipo">
  </div>
  <div class="container-items">
    <div class="item">
      <i class="bi bi-gear-wide-connected"></i>
      <p>Home</p>
    </div>
    <div class="item">
      <i class="bi bi-gear-wide-connected"></i>
      <p>Iniciar</p>
    </div><div class="item">
      <i class="bi bi-gear-wide-connected"></i>
      <p>Inventario</p>
    </div>
    <div class="item">
      <i class="bi bi-gear-wide-connected"></i>
      <p>Historial</p>
    </div>
  </div>
  <div class="space"></div>

</nav>
