<nav>
  <div class="container-logo">
    <img src="../../../assets/logo.png" alt="logotipo" />
  </div>
  <div class="container-items">
    <div class="item" routerLink="/home">
      <i class="bi bi-house-heart-fill"></i>
      <p>Home</p>
    </div>
    <div class="item" routerLink="/iniciar">
      <i class="bi bi-align-start"></i>
      <p>Iniciar</p>
    </div>
    <div class="item" routerLink="/inventario">
      <i class="bi bi-card-list"></i>
      <p>Inventario</p>
    </div>
    <div class="item" routerLink="/history">
      <i class="bi bi-clipboard2-data"></i>
      <p>Historial</p>
    </div>
    <div class="item" routerLink="/config">
      <i class="bi bi-gear-wide-connected"></i>
      <p>Configuracion</p>
    </div>
  </div>
  <div class="space"></div>
</nav>
