<main>
  <app-menu-vertical></app-menu-vertical>
  <div class="container-man">
    <div class="title">
      <h1>CONFIGURACION</h1>
    </div>
    <div class="container-config">
      <div class="container-items">
        <input type="text" name="Buscar Producto" id="" />
        <div class="items">
          <div class="campo">
            <div class="id">
              <label>0001</label>
            </div>
            <div class="desc">
              <label>Aguacate de bola 30$ X 1 kilo</label>
            </div>
          </div>
          <div class="campo">
            <div class="id">
              <label>0001</label>
            </div>
            <div class="desc">
              <label>Aguacate de bola 30$ X 1 kilo</label>
            </div>
          </div>
          <div class="campo">
            <div class="id">
              <label>0001</label>
            </div>
            <div class="desc">
              <label>Aguacate de bola 30$ X 1 kilo</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
