@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mooli&family=Nunito:wght@300;900&family=Poppins:wght@300;800&family=Raleway:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

main {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.container-man {
  flex: 4;
  width: 80%; /* Ocupa el 75% del ancho total */
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.container-config {
  background-color: #2AA1AF;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.container-items {
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #DFDDC5;
}

.container-items input {
  margin: 20px;
  width: 90%;
  height: 80px;
  border-radius: 5px;
  border: solid #2AA1AF 1px;
  /* border: solid #2AA1AF 1px;
  box-shadow: 3px 0px 15px -3px rgba(42, 161, 175);
  -webkit-box-shadow: 3px 0px 15px -3px rgba(42, 161, 175);
  -moz-box-shadow: 3px 0px 15px -3px rgba(42, 161, 175); */
}

.container-producto {
  background-color: red;
  width: 50%;
  height: auto;
}

.addProduct {
  background-color: #DFDDC5;
  width: 400px;
  height: 330px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.items {
  width: 90%;
  height: 130px;
  margin-left: 20px;
  background-color: #DFDDC5;
  overflow: hidden;
}


.campo {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #10455b;
}

.id {
  height: 35px;
  width: 120px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}



.desc {
  height: 35px;
  width: 490px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campo input {
  height: 25px;
  width: auto;
  border-radius: 10px;
  border: none;
}

.campo input:hover {
  border: solid 1px rgba(119,73,248,0.81);
  box-shadow: 3px 0px 25px -3px rgba(119,73,248,0.81);
  -webkit-box-shadow: 3px 0px 25px -3px rgba(119,73,248,0.81);
  -moz-box-shadow: 3px 0px 25px -3px rgba(119,73,248,0.81);
}


button:hover {
  transform: scale(1.1);
  opacity: 0.7;
}
