@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mooli&family=Nunito:wght@300;900&family=Poppins:wght@300;800&family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

main {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.container-man {
  flex: 4;
  width: 80%; /* Ocupa el 75% del ancho total */
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.container-config {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.container-items {
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #dfddc5;
}

.container-items input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: solid #2aa1af 1px;
  margin: 0 auto;
  /* border: solid #2AA1AF 1px;
  box-shadow: 3px 0px 15px -3px rgba(42, 161, 175);
  -webkit-box-shadow: 3px 0px 15px -3px rgba(42, 161, 175);
  -moz-box-shadow: 3px 0px 15px -3px rgba(42, 161, 175); */
}

.container-producto {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addProduct {
  width: 446px;
  height: 280px;
  flex-shrink: 0;
  background-color: #dfddc5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.deleteProduct {
  width: 400px;
  height: 85px;
  flex-shrink: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfddc5;
  margin: 20px 0px 20px 0px;

}

.items {
  width: 90%;
  height: 415px;
  margin-left: 20px;
  background-color: #dfddc5;
  overflow-y: scroll;
}

.campo {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #10455b;
}

.id {
  height: 35px;
  width: 120px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  height: 35px;
  width: 490px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campo input {
  height: 25px;
  width: auto;
  border-radius: 10px;
  border: none;
}

.campo input:hover {
  border: solid 1px rgba(119, 73, 248, 0.81);
  box-shadow: 3px 0px 25px -3px rgba(119, 73, 248, 0.81);
  -webkit-box-shadow: 3px 0px 25px -3px rgba(119, 73, 248, 0.81);
  -moz-box-shadow: 3px 0px 25px -3px rgba(119, 73, 248, 0.81);
}

button:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.campo2 {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  label {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    display: block; /* Asegura que cada label ocupe su propio espacio en vertical */
    width: 135px; /* Establece un ancho máximo para el label */
    word-wrap: break-word; /* Para navegadores más antiguos */
    overflow-wrap: break-word;
  }

  input {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border:none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

