button {
  cursor: pointer;
  display: flex;
  width: 265px;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #10455b;

  color: var(--default-white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
<<<<<<< HEAD
  transition: all 0.5s linear;
}

button:hover {
  transform: scale(1.02);
=======

  border:none;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: 0.5s;
>>>>>>> 1ed43e756c0673c77476816fa3792cd45a0f2f72
}
