@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mooli&family=Nunito:wght@300;900&family=Poppins:wght@300;800&family=Raleway:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

main {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
}


.container-man {
  flex: 4;
  width: 80%; /* Ocupa el 75% del ancho total */
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.productos {
  width: 95%;
  height: 410px;
  flex-shrink: 0;
  background: #DFDDC5;
  margin: 0 auto;
}

table {
  width: 100%;
  height: 50vh;
  padding: 10px;

  thead > tr > th {
    width: 160px;
    text-align: center;
  }

  tbody {
    width: 85%;
    height: 340px;
  }
}

.items {
  width: 100%;
  height: 340px;
  overflow-y: scroll;

}

.id {
  width: 100px !important;
}

input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: solid #2aa1af 1px;
  margin: 10px auto 10px;
  /* border: solid #2AA1AF 1px;
  box-shadow: 3px 0px 15px -3px rgba(42, 161, 175);
  -webkit-box-shadow: 3px 0px 15px -3px rgba(42, 161, 175);
  -moz-box-shadow: 3px 0px 15px -3px rgba(42, 161, 175); */
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

