.campo {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  label {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    display: block; /* Asegura que cada label ocupe su propio espacio en vertical */
    width: 135px; /* Establece un ancho máximo para el label */
    word-wrap: break-word; /* Para navegadores más antiguos */
    overflow-wrap: break-word;
  }

  input {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border:none;
  }
}
