
<header class="header">
  <img src="./assets/logo.png" alt="" class="logo" />
  <div class="cont-title">
    <h1 class="title"> BIENVENIDO A VEGESOFT</h1>
    <p class="baner">"Tu punto de venta inteligente. Juntos mejoramos tu negocio."</p>
  </div>
</header>
<main>
  <div class="container">
    <div class="card c1">
      <div class="cont-icon">
        <i class="bi bi-gear-wide-connected"></i>
      </div>
      <div routerLink="/config" class="cont-text">
        <p>Configurar Sistema</p>
      </div>
    </div>
    <div class="card c2">
      <div class="cont-icon">
        <i class="bi bi-bookmark-check-fill"></i>
      </div>
      <div class="cont-text">
        <p>Iniciar Sistema</p>
      </div>
    </div>
    <div class="card c2">
      <div class="cont-icon">
        <i class="bi bi-card-list"></i>
      </div>
      <div class="cont-text">
        <p>Inventario</p>
      </div>
    </div>
    <div class="card c1">
      <div class="cont-icon">
        <i class="bi bi-clipboard2-data"></i>
      </div>
      <div class="cont-text">
        <p>Historial</p>
      </div>
    </div>
  </div>
</main>
<footer class="bg-violet-800">
  <small>&copy; 2023 <b>VEGESOFT</b> - Todos los derechos reservados</small>
</footer>
