<main>
  <app-menu-vertical></app-menu-vertical>
  <div class="container-man">
    <app-header [titulo]="'VEGESOFT'"></app-header>
    <div class="container mt-4">
      <div class="row">
        <div class="col-7 d-flex flex-column align-items-center">
          <div class="productos p-3">
            <table>
              <thead class="w-full">
                <tr class="d-flex justify-content-around bg-gray">
                  <th class="id" scope="col">ID:</th>
                  <th scope="col">Producto:</th>
                  <th scope="col">Cantidad:</th>
                </tr>
              </thead>
              <tbody *ngIf="venta.length > 1; else vacio">
                <app-item-venta
                  *ngFor="let item of venta"
                  [id]="item.id"
                  [cantidad]="item.cantidad"
                  [name]="item.producto"
                ></app-item-venta>
              </tbody>
              <ng-template #vacio>
                <tbody>
                  <app-item-venta></app-item-venta>
                </tbody>
              </ng-template>
            </table>
          </div>
          <app-button-success
            [texto]="'Generar Ticket'"
            class="mt-4"
            (click)="abrirAlerta()"
          ></app-button-success>
        </div>
        <div class="col-5 d-flex flex-column align-items-center text-center">
          <div class="container">
            <div
              class="image-detected"
              [style]="'background-image: url(' + currentState.image + ');'"
            ></div>
          </div>
          <!--           <i class="bi bi-card-image image"></i>
 -->
          <div class="producto mb-3 text-center d-flex flex-column">
            <label class="mt-1 fw-bold" for=""> Producto: </label>
            <label for="">{{
              currentState.producto + ": $" + currentState.precio
            }}</label>
          </div>
          <div class="descProducto text-center d-flex flex-column">
            <label class="mt-1 fw-bold" for="">Descripcion:</label>
            <label class="mt-2" for="">{{ currentState.descripcion }}</label>
          </div>
          <h2 class="text-center mt-2">Total : ${{ total }}</h2>
        </div>
      </div>
    </div>
  </div>
  <swal #miSwal title="Multiple inputs" (confirm)="onConfirm($event)"> </swal>
  <swal #swalCambio title="Multiple inputs" (confirm)="onConfirm($event)"> </swal>
</main>
