@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mooli&family=Nunito:wght@300;900&family=Poppins:wght@300;800&family=Raleway:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

main {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.container-man {
  flex: 4;
  width: 80%; /* Ocupa el 75% del ancho total */
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.col {
  height: 530px;
}

.productos {
  width: 88%;
  height: 410px;
  flex-shrink: 0;
  background: #DFDDC5;
}

table {
  width: 100%;
  padding: 0;

  tbody {
    height: 390px;
    overflow-y: scroll;
  }

  thead > tr >th {
    width: 120px;
    text-align: center;
  }

  .id {
    text-align: start;
    width: 80px !important;
  }
}

.image {
  font-size: 10rem;
  color: #10455B;
  margin-bottom: -35px !important;
  margin-top: -50px !important;

}

.producto {
  width: 90%;
  height: 60px;
  background-color: #DFDDC5;
}

.descProducto {
  width: 90%;
  height: 140px;
  background-color: #DFDDC5;
}

video {
  width: 80%;
  height: 80%;
  border: 1px solid #10455B;
  border-radius: 5px;
}

.custom-confirm-class {
  background-color: #10455B !important;
}

.image-detected {
  width: 220px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-color: #10455B;
}
