<main>
    <app-menu-vertical></app-menu-vertical>
    <div class="container-man">
      <app-header [titulo]="'HISTORIAL'"></app-header>
      <div class="container-input-top">
        <p>Fecha:</p>
        <input type="text" name="fecha" placeholder="Fecha" [(ngModel)]="word3" (ngModelChange)="searchVentaHora()">
        <p>Producto:</p>
        <input type="text" name="producto" placeholder="Producto" [(ngModel)]="word" (ngModelChange)="searchVentaProducto()">
        <p>Cajero:</p>
        <input type="text" name="cajero" placeholder="Cajero" [(ngModel)]="word2" (ngModelChange)="searchVentaCajero()">
      </div>
      <div class="container-center">
        <div class="tabla">
          <tr class="titulos-tabla">
            <td>Hora:</td>
            <td>Cantidad KG:</td>
            <td>Producto:</td>
            <td>Cajero:</td>
            <td>Total $:</td>
          </tr>
          <app-item-list-venta *ngFor="let item of venta"
            [hora]="item.hora"
            [cantidad]="item.cantidad"
            [producto]="item.producto"
            [cajero]="item.cajero"
            [total]="item.total">
          </app-item-list-venta>
        </div>
      </div>
      <div class="container-bottom">
        <p>Total de venta:</p>
        <div class="component-bottom">
          <p>{{totalVentas}}</p>
        </div>
      </div>
      <div class="container-boton">
        <app-button-success [texto]="'Generar Reporte'" (click)="abrirAlerta()"></app-button-success>
      </div>
    </div>
    <swal #reporte ></swal>

  </main>

